body {
  font-family: sans-serif;
  background: #202020;
  width: auto !important;  /* Firefox will set width as auto */
  position: relative;
}

a {
  text-decoration: none;
  color: #778899;
}

a:hover {
  color: white;
}

.champBuilds1, .champBuilds2 {
  z-index: -100;
}

.linkToPages {
  padding-left: 4px;
  font-size: 15px;
  margin: 0;
}

#aboutMe {
  position: absolute;
  margin: 80 0 0 -2;
  height: 100%;
  width: 100%;
  color: gray;
  text-decoration: none;
  font-size: 15px;
  min-width: 900px;
}

#second, .resultingInfo {
  min-width: 1350px;
  /*position: relative;*/
  position: absolute;
  margin: 80 0 0 -2;
  height: 100%;
  width: 100%;
}

#championBackground {
  position: absolute;
  width: 1200px;
  margin: -75px 0 0 0;
  height: 717px;
  box-shadow: 0 0 100px 100px #202020 inset;
  z-index: -10;
}

#description {
  position: relative;
  width: 550px;
  height: 450px;
  left: 50%;
  color: #F8F8F8;
  margin: 100 0 0 -225;
}

.seasonalStats {
  padding-top: 80px;
}

#championBackground.getSeasonStats {
  position: absolute;
  margin: 10 0 0 -2;
  height: 100%;
  min-width: 500px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  box-shadow: 0 0 170px 170px #202020 inset;
  z-index: -10;
}

#backHome {
  width: 170px;
  height: 20px;
  padding-left: 38px;
  position: absolute;
}

.goAboutPage {
  padding-left: 70px;
}

.icons {
  position: relative;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  color: #cccccc;
}

.grow {
  transition: all 0.5s ease;
}

li {
  color: #0077b5;
  display: inline;
}

.goSeasonStats {
  padding-left: 30px;
}

ul {
  list-style-type: none;
}

.gh {
  color: #fff;
}

#iconLink {
  height: 25px;
  width: 25px;
}

#welcome {
  margin-top: 45px;
  color: #cccccc;
  font-size: 30px;
  position: absolute;
  left: 40;
  min-width: 500px;
}

#landingPage {
  color: #cccccc;
  margin: 80 0 0 1;
  position: absolute;
  left: 35;
  height: 600px;
  width: 100%;
}

#quickSumm {
  margin-left: 30px;
  margin-top: 80px;
  font-size: 18px;
  line-height: 28px;
}

#legalStuff {
  top: 500;
  left: 30;
  position: absolute;
  min-width: 450px;
  width: 800px;
}

#formSubmit {
  margin-top: 50px;
}

button {
  margin-left: 30px;
}

input {
  text-align: center;
}

input.inGameName {
  height: 25px;
  font-size: 15px;
  margin-left: 30px;
}

input.username {
  height: 25px;
  font-size: 15px;
  right: 5%;
  position: absolute;
}

#matches1 {
  margin-top: 55px;
  width: 180px;
  right: 40;
  position: absolute;
  color: #cccccc;
  text-align: center;
}

#choices1 {
  width: 40px;
  right: 82;
  position: absolute;
  color: #cccccc;
}

#map1 {
  position: absolute;
  margin-top: 50px;
  margin-left: 30px;
}

#time1 {
  width: 80px;
  top: 590;
  color: #cccccc;
  left: 50%;
  margin-left: -45px;
  position: absolute;
  font-size: 20px;
}

#eventDisplay1 {
  margin-top: 660px;
  position: absolute;
  width: 190px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: #cccccc;
}

#chart1 svg {
  top: 670;
  right: 40;
  position: absolute;
  margin-bottom: 20px;
}

#builds1 {
  position: absolute;
  top: 670;
  left: 80;
  color: #cccccc;
  margin-bottom: 20px;
}

#roleLane1 {
  position: absolute;
  top: 670;
  left: 30;
  color: #cccccc;
  margin-bottom: 20px;
}

#scrollAndSelect1 {
  top: 600;
  text-align: center;
  width: 1220px;
  min-width: 1160px;
  position: absolute;
  left: 0;
  right: 0;
  margin: -10px 0 0 90px;
}

#selections1 {
  float: right;
  position: relative;
  /*margin-top: 140px;*/

}

#scroll1 {
  float: left;
  position: relative;
  margin-right: 50px;
}

#whichSummoner {
  text-align: center;
  font-size: 20px;
  font-weight: 30;
  color: #cccccc;
  width: 470px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
}

#getSummonersGames {
  margin-top: -10px;
  width: 131px;
  position: absolute;
  right: 40;
}

.games1 {
  text-align: right;
  width: 180px;
}


#matches2 {
  margin-top: 85px;
  width: 180px;
  left: 0;
  right: 0;
  position: absolute;
  color: #cccccc;
  margin-left: auto;
  margin-right: auto;
  z-index: 20;
  text-align: center;
}

#map2 {
  position: absolute;
  margin-top: 235px;
  left: 30;
}

#time2 {
  top: 715;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  color: #cccccc;
  position: relative;
  font-size: 20px;
}

#eventDisplay2 {
  top: 795;
  left: 435;
  position: absolute;
  color: #cccccc;
}

#chart2 svg {
  top: 1310;
  left: 30;
  position: absolute;
  margin-bottom: 20px;
}

#builds2 {
  position: absolute;
  top: 795;
  left: 82;
  color: #cccccc;
  margin-bottom: 20px;
}

#roleLane2 {
  position: absolute;
  top: 795;
  left: 30;
  color: #cccccc;
  margin-bottom: 20px;
}

#scrollAndSelect2 {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 370px;
  text-align: center;
}

#selections2 {
  top: 1185;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#scroll2 {
  top: 675;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.games2 {
  text-align: right;
  width: 180px;
}



#map4 {
  position: absolute;
  margin-top: 235px;
  right: 30;
}

#eventDisplay4 {
  top: 795;
  right: 435;
  position: absolute;
  color: #cccccc;
}

#chart4 svg {
  top: 1310;
  right: 30;
  position: absolute;
  margin-bottom: 20px;
}

#builds4 {
  position: absolute;
  top: 795;
  right: 82;
  color: #cccccc;
  margin-bottom: 20px;
}

#roleLane4 {
  position: absolute;
  top: 795;
  right: 30;
  color: #cccccc;
  margin-bottom: 20px;
}

#champKiller, #champVictim {
  display: inline-block;
}

#champKiller1, #champVictim1 {
  display: inline-block;
}

#champKiller2, #champVictim2 {
  display: inline-block;
  right: 0;
}

#regions1 {
  right: 5%;
  top: 20;
  position: absolute;
}

#regions2 {
  width: 150px;
  margin-top: 20px;
  right: 4%;
  position: absolute;
  color: #cccccc;
}

#regions {
  margin-left: 10px;
  margin-top: -50px;
}

#RtoD {
  border: 2px solid black;
  width: 400px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

#header {
  line-height: 5px;
  font-weight: bold;
}

#seasonSpecifics {
  margin: 0 auto;
}

#league-form {
  position: relative;
  width: 100%;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  padding-top: 15px;
}

#league-form input[type="text"] {
  color: black;
  margin-left: auto;
  margin-right: auto;
}

.ign, .seasonNumber, .championsName, #regionInSeason {
  padding-bottom: 7px;
  margin-left: auto;
  margin-right: auto;
  width: 175px;
}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
  border-radius:0;
  position: absolute;
  top: 145;
  left: 50%;
  margin-left: -213.75px;
}

.list-group-item {
  display: block;
  margin-bottom: -1px;
  background-color: #FFF;
  line-height: 3px;  
}

.seasonalData {
  color: black;
  padding-left: 15px;
}

#ranked {
  position: absolute;
  font-size: 25px;
  color: white;
  width: 151px;
  left: 50%;
  margin-left: -85px;
}

.loading {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#gameDescription1 {
  position: absolute;
  width: 700px;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 65;
}

#gameDescription2 {
  position: absolute;
  width: 700px;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 65;
}

#simple-board01 {
  margin-left: auto;
  margin-right: auto;
  width: 175px;
  border: 1px solid white;
  line-height: 1.3;
  color: #cccccc;
}

#simple-board02 {
  float: left;
  width: 175px;
  border: 1px solid white;
  line-height: 1.3;
  color: #cccccc;
}

#simple-board12 {
  float: right;
  width: 175px;
  border: 1px solid white;
  line-height: 1.3;
  color: #cccccc;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-shadow: 0.5px 0.5px #F8F8FF;
  font-size: 20;
  width: 180px;
}

.dropdown-content {
  display: none;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

span.hoverHere {
  width: 185px;
  margin-top: 10px;
}

.maintenance {
  position: fixed;
  font-size: 30px;
  width: 100%;
  margin-top: 400px;
  color: #cccccc;
  z-index: 9000;
  background-color: #404040;
  text-align: center;
  min-width: 500px;
}